
.vs/LinearList/v15/.suo
.vs/LinearList/v15/Browse.VC
*.db

.vs/LinearList/v15/Browse.VC.opendb
.vs/LinearList/v15/ipch/AutoPCH/9fb63bfa85a5e129/SEQLIST.ipch
.vs/LinearList/FileContentIndex/7f14dda7-b527-44e8-bf34-bf874b4a9459.vsidx
.vs/LinearList/FileContentIndex/f055000f-540a-4728-84ed-53e35b87ddec.vsidx
.vs/LinearList/v17/.suo
.vs/LinearList/v17/Browse.VC.db-shm
.vs/LinearList/v17/Browse.VC.db-wal
.vs/LinearList/v17/Browse.VC.opendb
.vs/LinearList/v17/ipch/AutoPCH/11264baf669bf691/VCTMP17624_100329.SEQLIST.00000000.ipch
.vs/LinearList/v17/ipch/AutoPCH/9af1fb71080b97/SEQLIST.ipch
.vs/LinearList/FileContentIndex/d4925499-f6a3-4948-ba3e-d0440e925be7.vsidx
