
.vs/LinearList/v15/.suo
.vs/LinearList/v15/Browse.VC
*.db

.vs/LinearList/v15/Browse.VC.opendb
.vs/LinearList/v15/ipch/AutoPCH/9fb63bfa85a5e129/SEQLIST.ipch
.vs/LinearList/FileContentIndex/7f14dda7-b527-44e8-bf34-bf874b4a9459.vsidx
.vs/LinearList/FileContentIndex/f055000f-540a-4728-84ed-53e35b87ddec.vsidx
.vs/LinearList/v17/.suo
.vs/LinearList/v17/Browse.VC.db-shm
.vs/LinearList/v17/Browse.VC.db-wal
.vs/LinearList/v17/Browse.VC.opendb
.vs/LinearList/v17/ipch/AutoPCH/11264baf669bf691/VCTMP17624_100329.SEQLIST.00000000.ipch
.vs/LinearList/v17/ipch/AutoPCH/9af1fb71080b97/SEQLIST.ipch
.vs/LinearList/FileContentIndex/d4925499-f6a3-4948-ba3e-d0440e925be7.vsidx
.vs/LinearList/FileContentIndex/9baa2966-dcfb-4e03-8886-40a3233665e4.vsidx
.vs/LinearList/FileContentIndex/b4ea0128-e629-434e-aed5-e9a0359df708.vsidx
.vs/LinearList/FileContentIndex/f90a037e-3a28-4c24-b98c-8ce49079f311.vsidx
.vs/LinearList/v17/ipch/AutoPCH/1b1c94091d9f2691/TEST.ipch
.vs/LinearList/v17/ipch/AutoPCH/9d419ba2491f4684/TEST.ipch
.vs/LinearList/v17/ipch/AutoPCH/e438401adba49df6/TEST.ipch
.vs/LinearList/v17/ipch/AutoPCH/f45b9188f48e5f1d/VCTMP23932_717199.SEQLIST.00000000.ipch
Debug/LinearList.log
Debug/LinearList.obj
Debug/LinearList.pdb
Debug/LinearList.tlog/CL.command.1.tlog
Debug/LinearList.tlog/CL.read.1.tlog
Debug/LinearList.tlog/CL.write.1.tlog
Debug/LinearList.tlog/LinearList.lastbuildstate
Debug/LinearList.tlog/link-cvtres.read.1.tlog
Debug/LinearList.tlog/link-cvtres.write.1.tlog
Debug/LinearList.tlog/link-rc.read.1.tlog
Debug/LinearList.tlog/link-rc.write.1.tlog
Debug/LinearList.tlog/link.command.1.tlog
Debug/LinearList.tlog/link.read.1.tlog
Debug/LinearList.tlog/link.write.1.tlog
Debug/LinearList.tlog/unsuccessfulbuild
Debug/test.obj
Debug/vc143.idb
Debug/vc143.pdb
x64/Debug/LinearList.log
x64/Debug/LinearList.obj
x64/Debug/LinearList.pdb
x64/Debug/LinearList.tlog/CL.command.1.tlog
x64/Debug/LinearList.tlog/CL.read.1.tlog
x64/Debug/LinearList.tlog/CL.write.1.tlog
x64/Debug/LinearList.tlog/LinearList.lastbuildstate
x64/Debug/LinearList.tlog/link-cvtres.read.1.tlog
x64/Debug/LinearList.tlog/link-cvtres.write.1.tlog
x64/Debug/LinearList.tlog/link-rc.read.1.tlog
x64/Debug/LinearList.tlog/link-rc.write.1.tlog
x64/Debug/LinearList.tlog/link.command.1.tlog
x64/Debug/LinearList.tlog/link.read.1.tlog
x64/Debug/LinearList.tlog/link.read.2.tlog
x64/Debug/LinearList.tlog/link.read.3.tlog
x64/Debug/LinearList.tlog/link.write.1.tlog
x64/Debug/LinearList.tlog/unsuccessfulbuild
x64/Debug/test.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Release/LinearList.log
x64/Release/LinearList.obj
x64/Release/LinearList.tlog/CL.command.1.tlog
x64/Release/LinearList.tlog/CL.read.1.tlog
x64/Release/LinearList.tlog/CL.write.1.tlog
x64/Release/LinearList.tlog/LinearList.lastbuildstate
x64/Release/LinearList.tlog/link.command.1.tlog
x64/Release/LinearList.tlog/link.read.1.tlog
x64/Release/LinearList.tlog/link.write.1.tlog
x64/Release/LinearList.tlog/unsuccessfulbuild
x64/Release/test.obj
x64/Release/vc143.pdb
